* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./imgs/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 240, 240);
  width: 500px;
  border-radius: 15px;
  box-shadow: 3px 2px 1px 2px gray;
  padding: 20px;
  gap: 15px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.info input {
  width: 70%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  height: 30px;
  font-size: 16px;
}

.info button {
  width: 100px;
  border-radius: 15px;
  border: none;
  float: right;
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(119, 119, 119);
  transition: 0.3s ease-out;
}

.info button:hover {
  background-color: rgb(189, 189, 189);
  color: rgb(49, 49, 49);
}

.lista {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-lista {
  background-color: rgb(255, 231, 186);
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  font-weight: bold;
  border-radius: 15px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
}

img {
  height: 25px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 15px;
}

.item-lista:hover img {
  opacity: 1;
}

img:hover {
  background-color: rgb(189, 189, 189);
}

.name-task {
  text-transform: uppercase;
}

.done {
  background-color: rgb(211, 137, 1);
  text-decoration: line-through;
}

.msgError {
  display: none;
  width: 100%;
  height: 40px;
  background-color: rgb(255, 187, 177);
  color: brown;
  font-weight: bold;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
